<footer class="site-footer h-card">
  <data class="u-url" href="{{ "/" | relative_url }}"></data>

  <div class="wrapper">

    <div class="footer-col-wrapper">
      <div class="footer-col one-half">
      <p class="footer-heading"> Find me on  by <a href="https://github.com/sacgov"> Github</a>, <a href="https://twitter.com/sacgovind">Twitter</a> or <a href = "mailto: bssachingovind@gmail.com">Email</a>. © Sachin Govind</p>

      </div>
      <div class="footer-col one-half" style="text-align: right;">
      </div>
    </div>

  </div>

</footer>
